# Miscellaneous
*.class
*.log
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Python virtual environment
.venv/
venv/
env/

# IDE related
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android / iOS build artifacts & binaries
*.apk
*.aab
*.ipa
/android/app/debug
/android/app/profile
/android/app/release
/android/local.properties
/android/.gradle/
**/ios/Flutter/Generated.xcconfig

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Resources / raw dumps / binaries
/res/
